---
Checks:          '-*,misc-throw-by-value-catch-by-reference,misc-static-assert,readability-container-size-empty,modernize-use-override,modernize-make-unique,modernize-deprecated-headers,misc-unused-using-decls,misc-redundant-expression,bugprone-redundant-branch-condition,bugprone-shared-ptr-array-mismatch,bugprone-string-constructor,bugprone-string-integer-assignment,bugprone-unused-raii,bugprone-unchecked-optional-access, bugprone-use-after-move,cppcoreguidelines-owning-memory,cppcoreguidelines-pro-bound-pointers,cppcoreguidelines-special-member-functions,performance-unnecessary-copy-initialization,performance-unnecessary-value-param,performance-for-range-copy,modernize-raw-string-literal,modernize-use-nodiscard,modernize-use-nullptr,modernize-return-braced-init-list,modernize-use-equals-default,readability-magic-numbers,misc-noexcept-move-constructor'
# Not in here: modernize-use-emplace, since that basically breaks all things it touches
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/.*\.(c|cc|cpp|h|hpp)$'
FormatStyle:     file
